  <style>
    :root {
      --default-font-px: 16;
      --font-size: 1rem;
      --font-family: sans-serif;
      --spacing: 1em;
      --line-height: 1.5;
      --reduced-line-height: 1.2;
      /* Calculate integer pixel values depending on the font size (1rem = 16px) */
      --border-size:     calc(var(--font-size) *  1/var(--default-font-px));
      --x-script:        calc(var(--font-size) * 11/var(--default-font-px));
      --small-font-size: calc(var(--font-size) * 14/var(--default-font-px));
      --big-font-size:   calc(var(--font-size) * 32/var(--default-font-px));
    }
    html {
      max-width: 720px;
      margin: 0 auto;
      padding: calc(var(--spacing) * 1/2);
      font: var(--font-size) / var(--line-height) var(--font-family);
      /* font-size-adjust: from-font; */
      -moz-text-size-adjust: none;
      -webkit-text-size-adjust: none;
      text-size-adjust: none;
    }
    body { margin: 0; }
    img, table { margin: 0 auto; }
    table { border-collapse: collapse; }
    th, td { padding: calc(var(--spacing) * 1/4); border: var(--border-size) solid color-mix(in srgb, currentcolor 50%, transparent); }
    img { display: block; max-width: 100%; height: auto; }
    figure { margin-left: 0; margin-right: 0; max-width: 100%; text-align: center; font-size: var(--small-font-size); line-height: 1; }
    blockquote { margin: var(--spacing) calc(var(--spacing) * 3/2) var(--spacing) calc(var(--spacing) * 1/2); padding-left: var(--spacing); border-left: var(--border-size) solid color-mix(in srgb, currentcolor 50%, transparent); }
    pre { overflow-x: auto; }
    sub, sup { font-size: var(--x-script); line-height: 0; }
    hr { margin: calc(var(--spacing) * 2) 0; border: 0; border-top: var(--border-size) solid; }
    h1, h2, h3, h4, h5, h6 { line-height: var(--reduced-line-height); text-wrap: balance; }
    h1 { margin-block: 0.67em; font-size: var(--big-font-size); text-align: center; }
    body > main > ul { padding: 0; }
    body > main > ul > li { margin: calc(var(--spacing) * 1/2) 0; list-style-type: none; line-height: 1.25; }
    hr:has(+div[role="doc-endnotes"]) { margin-bottom: var(--spacing); }
    div[role="doc-endnotes"] { margin-top: 0; font-size: var(--small-font-size); line-height: var(--line-height); }
  </style>